* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fbf0f8;
  color: #333;
  text-align: center;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

header h1 {
  font-size: 3em;
  color: #e75480;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 40px;
}

.gallery {
  margin-bottom: 50px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Quatre colonnes */
  gap: 10px; /* Espacement entre les images */
  margin-bottom: 30px;
}

.photo-grid img {
  width: 100%;
  aspect-ratio: 3 / 4; /* Un ratio plus large, 4:3 au lieu de 3:4 */
  border-radius: 15px;
  transition: transform 0.3s ease, opacity 1s ease-in-out;
  opacity: 1;
  object-fit: cover;
}

.photo-grid img:hover {
  transform: scale(1.05); /* Agrandit légèrement l'image au survol */
  opacity: 0.8; /* Diminue l'opacité */
}

.hidden {
  opacity: 0;
}

.countdown h2,
.message h2 {
  font-size: 2em;
  color: #ff6347;
  margin-bottom: 15px;
}

#countdown-timer {
  font-size: 2em;
  margin: 20px 0;
}

.message p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #444;
  padding: 0 20px;
}

footer p {
  margin-top: 50px;
  color: #999;
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Deux colonnes pour les petits écrans */
  }

  .photo-grid img {
    aspect-ratio: 4 / 3; /* Ratio plus large sur mobile */
    height: auto; /* Ajuste automatiquement la hauteur */
  }
}

@media (max-width: 480px) {
  .photo-grid {
    grid-template-columns: 1fr; /* Une seule colonne sur les très petits écrans */
  }

  .photo-grid img {
    aspect-ratio: 4 / 3; /* Toujours un ratio plus large pour éviter l'effet allongé */
    height: auto;
  }
}
